@{
    ViewData["Title"] = "Форма заказа";
}

<form style="display: flex; flex-direction: column; width: 300px; height: 400px; background-color: yellowgreen;">
    <h2>Форма заказа</h2>
    <input type="text" name="SenderCity" placeholder="Город отправителя">
    <input type="text" name="SenderAddress" placeholder="Адрес отправителя">
    <input type="text" name="ReceiverCity" placeholder="Город получателя">
    <input type="text" name="ReceiverAddress" placeholder="Адрес получателя">
    <input type="number" step="0.01" name="Weight" placeholder="Вес груза">
    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Дата забора груза">
    <input type="submit" value="Отправить">
</form>