@model OrderForm.Models.Order

@{
    ViewData["Title"] = "Форма заказа";
}

<form asp-action="orderform" asp-controller="orders" class="form-group order-form">
    <h2>Форма заказа</h2>
    <div class="form-field">
        <label asp-for="SenderCity" class="form-label"></label>
        <input type="text" asp-for="SenderCity" class="form-control">
        <span asp-validation-for="SenderCity"></span>
    </div>
    <div class="form-field">
        <label asp-for="SenderAddress" class="form-label"></label>
        <input type="text" asp-for="SenderAddress" class="form-control">
        <span asp-validation-for="SenderAddress"></span>
    </div>
    <div class="form-field">
        <label asp-for="ReceiverCity" class="form-label"></label>
        <input type="text" asp-for="ReceiverCity" class="form-control">
        <span asp-validation-for="ReceiverCity"></span>
    </div>
    <div class="form-field">
        <label asp-for="ReceiverAddress" class="form-label"></label>
        <input type="text" asp-for="ReceiverAddress" class="form-control">
        <span asp-validation-for="ReceiverAddress"></span>
    </div>
    <div class="form-field">
        <label asp-for="Weight" class="form-label"></label>
        <input type="number" step="0.01" asp-for="Weight" class="form-control">
        <span asp-validation-for="Weight"></span>
    </div>
    <div class="form-field">
        <label asp-for="Date" class="form-label"></label>
        <input type="date" asp-for="Date" class="form-control">
        <span asp-validation-for="Date"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Отправить">
</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }